<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_nseventmanager_domain_model_location.name" />
</label><br />
	<f:form.textfield property="name" id="name" /><br />
<label for="city">
	<f:translate key="tx_nseventmanager_domain_model_location.city" />
</label><br />
	<f:form.textfield property="city" id="city" /><br />
<label for="zipCode">
	<f:translate key="tx_nseventmanager_domain_model_location.zip_code" />
</label><br />
	<f:form.textarea property="zipCode" id="zipCode" cols="40" rows="15" /><br />
<label for="capacity">
	<f:translate key="tx_nseventmanager_domain_model_location.capacity" />
</label><br />
	<f:form.textfield property="capacity" id="capacity" /><br />
</html>