<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Event:
          List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
    <h1>Listing for Event</h1>

    <f:flashMessages />

    <table class="tx_nseventmanager">
        <tr>
            <th><f:translate key="tx_nseventmanager_domain_model_event.title" /></th>
            <th><f:translate key="tx_nseventmanager_domain_model_event.description" /></th>
            <th><f:translate key="tx_nseventmanager_domain_model_event.organizer_name" /></th>
            <th><f:translate key="tx_nseventmanager_domain_model_event.mode" /></th>
             <th><f:translate key="tx_nseventmanager_domain_model_event.image" /></th>
            <th></th>
            <th></th>
        </tr>
        <f:for each="{events}" as="event">
            <tr>
                 <td><f:link.action  pluginName="eventshow" action="show" pageUid="{detailPageId}" arguments="{event : event}">{event.title}</f:link.action></td>
                <td><f:link.action pluginName="eventshow" action="show" pageUid="{detailPageId}" arguments="{event : event}">{event.description}</f:link.action></td>
                <td><f:link.action pluginName="eventshow" action="show" pageUid="{detailPageId}" arguments="{event : event}">{event.organizerName}</f:link.action></td>
                <td><f:link.action pluginName="eventshow" action="show" pageUid="{detailPageId}" arguments="{event : event}">{event.mode}</f:link.action></td>

                 <td><f:if condition="{event.image}">
                                <f:image image="{event.image}" class="img-fluid rounded-start m-1" alt="image" width="200px" height="200px"/>
                            </f:if></td>

                <td><f:link.action action="edit" arguments="{event : event}">Edit</f:link.action></td>
                <td><f:link.action action="delete" arguments="{event : event}">Delete</f:link.action></td>
            </tr>
        </f:for>
    </table>

    <f:link.action action="new">New Event</f:link.action>
</f:section>
</html>
