<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-ns-event-manager">
	<tr>
		<td><f:translate key="tx_nseventmanager_domain_model_event.title" /></td>
		<td>{event.title}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_nseventmanager_domain_model_event.description" /></td>
		<td>{event.description}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_nseventmanager_domain_model_event.organizer_name" /></td>
		<td>{event.organizerName}</td>
	</tr>
	<tr>
		<td><f:translate key="tx_nseventmanager_domain_model_event.mode" /></td>
		<td>{event.mode}</td>
	</tr>
		<tr>
		<td><f:translate key="tx_nseventmanager_domain_model_event.image" /></td>
		<td>
				<a href="{event.image.originalResource.publicUrl}">
					{event.image.originalResource.name}
				</a>
			</td>
	</tr>
</table>
</html>
